
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.product_variants
{
	//margin: 0 auto;    
}
#quick_buy_popup_modal 
{
	//display:none;
}
a.product_add, a.product_add_modal
{
	background: #000;
	border: 1px solid #fff;
    color: white !important;
	cursor:pointer;
	white-space: normal;
}

